body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 20px;
  padding: 12px 24px;
  background: #22c55e;
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
}